<div class="container">
    <h2>Post Task</h2>

    <form [formGroup]="taskForm">
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Title</mat-label>
            <input matInput type="text" formControlName="title" placeholder="Title" />
            <mat-error *ngIf="taskForm.get('title')?.hasError('required')">
                Title is required.
            </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" placeholder="Description"></textarea>
            <mat-error *ngIf="taskForm.get('description')?.hasError('required')">
                Description is required.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Due Date</mat-label>
            <input matInput [matDatepicker]="dueDatePicker" formControlName="dueDate" placeholder="Due Date" />
            <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #dueDatePicker></mat-datepicker>
            <mat-error *ngIf="taskForm.get('dueDate')?.hasError('required')">
                Due Date is required.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Priority</mat-label>
            <mat-select formControlName="priority" placeholder="Priority">
                <mat-option *ngFor="let priority of listOfPriorities" [value]="priority">
                    {{priority}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="taskForm.get('priority')?.hasError('required')">
                Priority is required.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" placeholder="Status">
                <mat-option *ngFor="let status of listOfStatus" [value]="status">
                    {{status}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="taskForm.get('priority')?.hasError('required')">
                Priority is required.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Select the Employee</mat-label>
            <mat-select formControlName="employeeId" placeholder="Employee">
                <mat-option *ngFor="let employee of listOfEmployees" [value]="employee.id">
                    {{employee.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="taskForm.get('employee')?.hasError('required')">
                Employee is required.
            </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="taskForm.invalid" (click)="postTask()">Post Task</button>
    </form>
</div>